---
# omero_common must be imported to prevent
# undeclared variable failure
- name: omero server | Import ome.omero_common role
  ansible.builtin.import_role:
    name: ome.omero_common

- name: omero server | Include ome.basedeps role
  ansible.builtin.include_role:
    name: ome.basedeps

- name: omero server | Include ome.java
  ansible.builtin.include_role:
    name: ome.java

- name: omero server | Include python3_virtualenv
  ansible.builtin.include_role:
    name: python3_virtualenv
  vars:
    virtualenv_basedir: "{{ omero_server_basedir }}"

- name: omero server | Include ome.ice role
  ansible.builtin.include_role:
    name: ome.ice
  vars:
    ice_version: "{{ omero_server_ice_version }}"
    ice_install_devel: false
    ice_install_python: false

- name: omero server | Include ome.postgresql_client
  ansible.builtin.include_role:
    name: ome.postgresql_client
