[Unit]
Description=OMERO.server
# Requires: forces the dependency to be started
# After: ensures this service starts after the dependency, but only if the
# dependency is also started (PostgreSQL may be on a different server)
After=postgresql-9.4.service
After=postgresql-9.5.service
After=postgresql-9.6.service
{% if omero_server_systemd_require_network %}
Requires=network.service
{% endif %}
After=network.service
{% for value in ((omero_server_systemd_after | default({})) | sort) %}After={{ value }}
{% endfor %}
{% for value in ((omero_server_systemd_requires | default({})) | sort) %}Requires={{ value }}
{% endfor %}

[Service]
User={{ omero_server_system_user }}
UMask={{ omero_server_system_umask }}
Type=forking
PIDFile={{ omero_server_basedir }}/{{ omero_server_symlink }}/var/master/master.pid
Restart=no
RestartSec=10
# Allow up to 5 min for start/stop
TimeoutSec=300
ExecStartPre={{ omero_server_basedir }}/config/omero-server-config-update.sh
ExecStart={{ omero_server_basedir }}/{{ omero_server_symlink }}/bin/omero admin start
ExecStop={{ omero_server_basedir }}/{{ omero_server_symlink }}/bin/omero admin stop
{% if omero_server_systemd_limit_nofile %}
LimitNOFILE={{ omero_server_systemd_limit_nofile }}
{% endif %}

[Install]
WantedBy=multi-user.target
